*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: auto;

    
}
.pattern { 
    background-color: aqua;
    background-image: url(./img/pattern.png);
    background-repeat: repeat-x;
    padding-top: 50px;
    background-size: contain;
}

.logo{
    width: 10%;
}
.autor{
    color: aqua;
}
.date{
    font-size: small;
}

.subtitle{
    color: gray;
}
p{
    margin: 1% 0;
}
ul {
    padding-left: 15px;
}

table{
    margin: 2% 0;
    width: 100%;
    text-align: left;
}

.colorrow {
    background-color: aqua;
}

.inttable {
    background-color: rgba(0, 0, 255, 0.356);
    color: white;
}
td{
    width: 50%;
}
.ptextcolor{
    background-color: red;
}
.imgfooter{
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 250px;
    margin-top: 4px;
    color: white;
}
.imgfooter1{
    background-image: url(./img/monitor.jpg);
}
.imgfooter2{
    background-image: url(./img/graph.jpg);
}
.th2{
    width: 25%;
}